@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  backdrop-filter: blur(7px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
html{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar { 
  display: none;
}